<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:replace="/admin/base (title='课程查询')"><!-- layout文件路径-->
<div th:fragment="headscript">

</div>
<div th:fragment="content">
    <div>

        请选择查询条件:
        <select id="sel" >
            <option value="cid" type ="cId">课程号</option>
            <option value="cname" type ="cName">课程名称</option>
            <option value="cscore" type ="cScore">课程学分</option>

        </select>
        <input  style="margin-left:10px;width: 25% " type="text" name="attr" id="attr" >


        <input onclick="findCourse()" style="margin-left:100px;margin-top: 20px" class="button button-3d button-primary button-rounded" type="submit" value="查询">
    </div>
    <script>
        function findCourse(){

            var attrValue =  $("#attr").val();
            var attrType = $("#sel").find("option:selected").attr("type");
            if(attrValue == "" )
            {
                alert("数据不能为空");
                return;
            }

            if(attrType == "cName")
                attrValue= encodeURI(attrValue);
            if(attrType == "cId")
            {
                var re = /^[0-9]+.?[0-9]*/;
                if (!re.test(attrValue)) {
                    alert('课程号只能为数字');
                    return ;
                }
                if(attrValue.length!=8){
                    alert("课程号必须为8位数字");
                    return;
                }
            }
            window.location.href = "/admin/courseFindResult?attrType="+attrType+"&attrValue="+attrValue;

        };

    </script>
</div>
</html>

