<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:replace="/admin/base (title='课程删除')"><!-- layout文件路径-->
<div th:fragment="headscript">

</div>
<div th:fragment="content">
    <form id="submitDeleteCourse"  method="post">
        请输入删除课程信息:<br/>
        课程号:  <input type="text" name="cid" id="cid" placeholder="课程号" style="width: 30% ;" />


        <input onclick="deleteCourse()" style="margin-left: 180px;margin-top: 20px" class="button button-3d button-primary button-rounded" type="submit" value="删除">
    </form>
    <script>
        function deleteCourse(){
            var cid = $("#cid").val();
            if(cid == "" )
            {
                alert("数据不能为空");
                return;
            }
            var re = /^[0-9]+.?[0-9]*/;
            if (!re.test(cid)) {
                alert('只能输入数字');
                return ;
            }
            if(cid.length!=8){
                alert("课程号必须为8位数字");
                return;
            }
            $.ajax({
                type: "DELETE",
                url: "/admin/courseManageDeleteDELETE",
                async: false,
                contentType: "application/json;charset=UTF-8",
                dataType:"json",
                data: JSON.stringify({'cId':cid}),
                success: function (jsonData) {
                    if(jsonData.code==0)
                        alert("删除课程成功!");
                    else
                        alert(jsonData.msg);
                },

                error: function (jsonData) {
                    console.log(jsonData.code);
                    alert(jsonData.code);
                }
            });
        };

    </script>
</div>
</html>
