<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:replace="/admin/base (title='修改密码')"><!-- layout文件路径-->
<div th:fragment="headscript">

</div>
<div th:fragment="content">
    <div>
        <div class="well">
            <h1>修改密码</h1>



            <input  style="width:400px; height:40px;"type="text" class="form-control" id="oldPassword" name="oldPassword" placeholder="原密码"/>


            <input style="width:400px; height:40px;" type="password" class="form-control" id="newPassword1" name="newPassword1" placeholder="新密码"/>


            <input style="width:400px; height:40px;" type="password" class="form-control" id="newPassword2" name="newPassword2" placeholder="新密码"/>



            <input onclick="modifyPassword()"style="margin-top: 20px" class="button button-3d button-primary button-rounded" type="submit" value="确定修改">
            <!--发送json数据给后端-->
            <script>
                var i = 5;
                function modifyPassword(){

                    if(i==0) {
                        alert("密码出错5次，请重新登录");
                        window.location.href="/login";
                        return;
                    }

                    var oldPassword =  $("#oldPassword").val();
                    var pass1 = $("#newPassword1").val();
                    var pass2 = $("#newPassword2").val();
                    if(oldPassword == ""|| pass1==""|| pass2=="" )
                    {
                        alert("数据不能为空");
                        return;
                    }

                    if(pass1!=pass2) {
                        alert("请输入相同的新密码");
                        window.location.reload();
                        return;
                    }

                    else
                        var newPassword = pass1;


                    $.ajax({
                        type: "GET",
                        url: "/admin/modifyPasswordGET",
                        async: true,
                        contentType: "application/json;charset=UTF-8",
                        dataType:"json",
                        data: {'originPassword':oldPassword,'newPassword':newPassword},
                        success: function (jsonData) {
                            if(jsonData.code==0) {
                                alert("修改密码成功，请重新登录!");
                                window.location.href="/login";
                            }
                            else {
                                i--;
                                alert("密码错误");
                            }
                        },

                        error: function (jsonData) {
                            console.log(jsonData.code);
                            alert("输入数据异常");
                        }
                    });
                };

            </script>



        </div>
    </div>
</div>
</html>
