<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:replace="/admin/base (title='删除教师')"><!-- layout文件路径-->
<div th:fragment="headscript">

</div>
<div th:fragment="content">
    <div>
        <form id="submitDeleteTeacher" method="post">
            请输入删除教师信息:<br/>
            教师工号:  <input type="text" name="tid" id="tid" placeholder="工号" style="width: 30% ;" />


            <input  onclick="deleteTeacher()" style="margin-left: 180px;margin-top: 20px" class="button button-3d button-primary button-rounded" type="submit" value="删除">
        </form>
    </div>
    <script>
        function deleteTeacher(){
            var tid = $("#tid").val();
            if(tid == "" )
            {
                alert("数据不能为空");
                return;
            }
            var re = /^[0-9]+.?[0-9]*/;
            if (!re.test(tid)) {
                alert('只能输入数字');
                return ;
            }
            if(tid.length!=9){
                alert("工号必须为9位数字");
                return;
            }

            $.ajax({
                type: "DELETE",
                url: "/admin/teacherManageDeleteDELETE",
                async: false,
                contentType: "application/json;charset=UTF-8",
                dataType:"json",
                data: JSON.stringify({'tId':tid}),
                success: function (jsonData) {
                    if(jsonData.code==0)
                        alert("删除教师成功!");
                    else
                        alert(jsonData.msg);
                },

                error: function (jsonData) {
                    console.log(jsonData.code);
                    alert("数据格式有误");
                }
            });
        };

    </script>
</div>
</html>
