<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:replace="/admin/base (title='添加教师')"><!-- layout文件路径-->
<div th:fragment="headscript">

</div>
<div th:fragment="content">
    <div>
        <form id="submitAddTeacher"  method="post">
            请输入教师信息：<br/>
            教师工号：  <input type="text" class="form-control" name="tid" id="tid" placeholder="学号" style="width: 30% ;" /><br>
            教师姓名:  <input type="text" class="form-control" name="tname" id="tname" placeholder="姓名" style="width: 30%"/><br>
            登陆密码:  <input type="text" class="form-control" name="password" id="password" placeholder="密码" style="width: 30%"/><br>


            <input  onclick="deleteTeacher()" style="margin-left: 180px;margin-top: 20px" class="button button-3d button-primary button-rounded" type="submit" value="提交">
            <script>
                function deleteTeacher(){


                    var tid =  $("#tid").val();
                    var tname =  $("#tname").val();

                    var tpassword =  $("#password").val();
                    if(tid == ""|| tname==""|| tpassword=="" )
                    {
                        alert("数据不能为空");
                        return;
                    }
                    var re = /^[0-9]+.?[0-9]*/;
                    if (!re.test(tid)) {
                        alert('只能输入数字');
                        return ;
                    }
                    if(tid.length!=9){
                        alert("工号必须为9位数字");
                        return;
                    }
                    $.ajax({
                        type: "POST",
                        url: "/admin/teacherManageAddPOST",
                        async: false,
                        contentType: "application/json;charset=UTF-8",
                        dataType:"json",
                        data: JSON.stringify({'tId':tid , 'tName':tname, 'tPassword':tpassword}),
                        success: function (jsonData) {
                            if(jsonData.code==0)
                                alert("添加教师成功");
                            else
                                alert(jsonData.msg);
                        },

                        error: function (jsonData) {
                            console.log(jsonData.code);
                            alert("数据格式有误");


                        }
                    });
                };

            </script>
        </form>
    </div>
</div>
</html>
