<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:replace="/teacher/base (title='已开设课程详情')"><!-- layout文件路径-->
<div th:fragment="headscript">
    <script>



        window.onload = function () {







            $.ajax({
                type: "GET",
                url: "/teacher/t_classesGET",
                async: true,
                contentType: "application/json;charset=UTF-8",
                dataType:"json",
                data: {'tid':'tid' },
                success: function (jsonData) {
                    var s = "";
                    for(var i=0;i < jsonData.data.length; i++) {

                        s += '<tr><td>' + jsonData.data[i].cid + '</td><td>' + jsonData.data[i].name
                            +  '</td><td>' + jsonData.data[i].score +  '</td><td>' + jsonData.data[i].tcid
                            +  '</td><td>' + jsonData.data[i].time +  '</td><td>' + jsonData.data[i].location
                            +  '</td><td>' + jsonData.data[i].capacity+  '</td><td>' + jsonData.data[i].temp
                            +'</td></tr>';

                        console.log(s);


                    }
                    $('#teacherCourseTable').append(s);

                },

                error: function (jsonData) {
                    console.log(jsonData.code);
                    alert("查询课程失败");
                }
            });
        };


    </script>
</div>
<div th:fragment="content">
    <div>
        <div>
            <div class="table_perinfo" >

                <h2>已开设课程</h2>
                <table class="table" id="teacherCourseTable">
                    <tr>
                        <th>课程号</th>
                        <th>课程名</th>
                        <th>课程学分</th>
                        <th>教学班号</th>
                        <th>上课时间</th>
                        <th>上课地点</th>
                        <th>课程容量</th>
                        <th>已选人数</th>
                    </tr>

                </table>
            </div>
        </div>



    </div>
</div>
</html>
